[defaults]
inventory = ansible/inventory
remote_user = root
ansible_user = admin
roles_path    = ~/ansible-roles
nocows = 1
retry_files_enabled = False
host_key_checking = False

[ssh_connection]
ssh_args =
# -C -o ControlMaster=auto -o ControlPersist=60s
#pipelining = False
